{% extends "./layout.html.twig" %}
{% block head  %}
{{parent()}}
<title>Capstone trips display
</title>
{% endblock %}}
{% block body %}
{{parent()}}
<section class="trips">
     <!-- The following forms will float and change their parents depending on the calling section (which trip, which destination....)-->
    <div id="form-add-trip" class="d-none">
      <form action="" method="post" id="add-trip">
        <div class="form-error d-none alert">
        </div>
        <div class="inputs-container d-flex flex-column align-items-center justify-content-center flex-wrap">
          <div class="input d-flex flex-column">
            <label for="destination">Where?
            </label>
            <input type="text" name="" id="destination" placeholder="DESTINATION" required>
          </div>
          <div class="input d-flex flex-column">
            <label for="start-date">Trip start
            </label>
            <input type="text" name="" id="start-date" placeholder="MM/DD/YYYY" required>
          </div>
          <div class="input d-flex flex-column">
            <label for="end-date">Trip end
            </label>
            <input type="text" name="" id="end-date" placeholder="MM/DD/YYYY" required>
          </div>
          <div class="input">
            <input type="submit" value="Submit" id="input-trip">
          </div>
        </div>
        <div class="d-none overlay">
          <img src="media/pulse-loader.gif" alt="">
        </div>
      </form>
    </div>
    <div id="form-add-dest" class="d-none">
      <form action="" method="post" id="add-dest">
        <div class="form-error d-none alert">
        </div>
        <div class="inputs-container d-flex flex-column align-items-center justify-content-center flex-wrap">
          <div class="input d-flex flex-column">
            <label for="dest">Where?
            </label>
            <input type="text" name="" id="dest" placeholder="DESTINATION" required>
          </div>
          <div class="input">
            <input type="submit" value="Submit" id="input-dest">
          </div>
        </div>
        <div class="d-none overlay">
          <img src="media/pulse-loader.gif" alt="">
        </div>
      </form>
    </div>
    <div id="form-add-place" class="d-none">
      <form action="" method="post" id="add-place">
        <div class="form-error d-none alert">
        </div>
        <div class="inputs-container d-flex flex-column align-items-center justify-content-center flex-wrap">
          <div class="input d-flex flex-column">
            <label for="place">Where?
            </label>
            <input type="text" name="" id="place" placeholder="PLACE" required>
          </div>
          <div class="input">
            <input type="submit" value="Submit" id="input-place">
          </div>
        </div>
        <div class="d-none overlay">
          <img src="media/pulse-loader.gif" alt="">
        </div>
      </form>
    </div>
    <div id="form-add-pack" class="d-none">
      <form action="" method="post" id="add-pack">
        <div class="form-error d-none alert">
        </div>
        <div class="inputs-container d-flex flex-column align-items-center justify-content-center flex-wrap">
          <div class="input d-flex flex-column">
            <label for="pack">What?
            </label>
            <input type="text" name="" id="pack" placeholder="TASK item" required>
          </div>
          <div class="input">
            <input type="submit" value="Submit" id="input-pack">
          </div>
        </div>
        <div class="d-none overlay">
          <img src="media/pulse-loader.gif" alt="">
        </div>
      </form>
    </div>
  <div class="container d-flex align-items-center">
    <h4 class="title">My Trips
    </h4>
    <div title="click here to add a trip">
      <img src="media/add.svg" alt="add trip icon" id="add-trip-link">
    </div>
  
     <div class="result  d-none alert"></div>

  </div>
  

  <div id="dynamic-trips-container">

    <!--empty|null|false-->
  {% if trips is empty %} 
  
      <div class="container d-flex align-items-center default"> Too Clean space, create some trips </div>
  
  {% endif %}
    {% set idx_t = 0 %}
    {% set idx_d = idx_t %}

    {% for trip in trips %} 
    <!-- for incremental id of country info and weather-info -->
    {% set idx_t = idx_t + 1 %}
    <div class="trip-card" id="trip-card-{{idx_t}}" title="click anywhere to show destinations" data-trip-id-db-info ="{{trip._id}}">
      <div class="container">
        <div class="d-flex d-column">
          <h4 class="trip-card-header">{{ trip.title|e }}
          </h4>
          <div class="trip-card-body">
            <p>
              <span class="entry-name">Description
              </span>
              <span class="entry-details">{{trip.description|e}}
              </span>
            </p>
            <p>
              <span class="entry-name">Start Date
              </span>
              <time class="entry-details">{{trip.startDate|date('Y/m/d')}}
              </time>
            </p>
            <p>
              <span class="entry-name">End Date
              </span>
              <time class="entry-details">{{trip.endDate|date('Y/m/d')}}
              </time>
            </p>
            <p>
              <span class="entry-name">Duration
              </span>
              <time class="entry-details">{{trip.duration}} day(s)
              </time>
            </p>
          </div>
        </div>
        <div class="flex-nowrap d-none settings">
          <div title="add destination to trip">
            <img src="media/add.svg" alt="edit dest icon" title="add destination" id="add-dest-link-{{idx_t}}">
          </div>
          <div title="edit trip">
            <img src="media/edit.svg" alt="edit trip icon" title="edit trip" id="edit-trip-link-{{idx_t}}">
          </div>
          <div title="print trip">
            <img src="media/print.svg" alt="print trip icon" title="print" id="print-trip-link-{{idx_t}}">
          </div>
          <div title="delete trip">
            <img src="media/delete.svg" alt="delete trip icon" title="delete trip" id="delete-trip-link-{{idx_t}}" data-delete-trip-info="{{trip._id}}">
          </div>
        </div>
         <div class="result  d-none alert"></div>
      </div>
     
    </div>
    <div class="container accordion">
      <h5>Destinations</h5>
      {% if  trip.destinations is empty %} 
      <!-- Check if object is empty/null/false -->
      <div class="default">Destinations space too clean, create some 
     
      </div>
      {% endif %}
      {% for d in trip.destinations %} 
      <!-- looping over trip's destinations -->
      {% set idx_d = idx_d + 1 %}
      <div class="d-card" id="d-card-{{idx_d}}" data-trip-db-id="{{trip._id}}" data-d-db-id="{{d._id}}" data-d-db-lng="{{d.lng}}" data-d-db-lat="{{d.lat}}">
        <div class="d-card-header">
          <p>
            <span class="entry-name">Name:
            </span>
            <span class="entry-details">{{d.name}}
            </span>
          </p>
          <div class="flex-nowrap d-none  settings-d">
            <div>
              <img src="media/print.svg" alt="print destination" id="print-dest-link-{{idx_d}}"  title="print destination">
            </div>
            <div>
              <img src="media/add-place.svg" alt="delete task icon"  title="add place" id="add-place-link-{{idx_d}}">
            </div>
            <div>
              <img src="media/add-task.svg" alt="add task icon" title="add task" id="add-pack-link-{{idx_d}}">
            </div>
            <div>
              <img src="media/delete.svg" alt="delete dest icon" title="delete destination" id="delete-dest-link-{{idx_d}}" data-delete-d-info="{{d._id}}">
            </div>
          </div>
          <div class="tabs d-flex">
            <div class="tab" data-tab-id="country-info-{{idx_d}}">Country Info
            </div>
            <div class="tab active" data-tab-id="weather-info-{{idx_d}}">Weather forecast
            </div>
            <div class="tab" data-tab-id="place-info-{{idx_d}}">places
            </div>
            <div class="tab" data-tab-id="pack-info-{{idx_d}}">todo list
            </div>
                   <div class="tab" data-tab-id="pic-info-{{idx_d}}">picture
            </div>
                   <div class="tab" data-tab-id="map-info-{{idx_d}}">places on map
            </div>
          </div>
        </div>
        <div class="d-card-body">
          <div class="tab-content d-none" id="country-info-{{idx_d}}">
            <div class="d-flex flex-wrap">
              <p>
                <span class="entry-name">Name:
                </span>
                <span class="entry-details">&lt;{{d.countryInfos.name}}&gt;
                </span>
              </p>
              <p>
                <span class="entry-name">Language:
                </span>
                <span class="entry-details">&lt;{{d.countryInfos.language}}&gt;
                </span>
              </p>
              <p>
                <span class="entry-name">Region:
                </span>
                <span class="entry-details">&lt;{{d.countryInfos.region}}&gt;
                </span>
              </p>
              <p>
                <span class="entry-name">Timezone:
                </span>
                <span class="entry-details">&lt;{{d.countryInfos.timezone}}&gt;
                </span>
              </p>
              <p>
                <span class="entry-name">Capital:
                </span>
                <span class="entry-details">&lt;{{d.countryInfos.capital}}&gt;
                </span>
              </p>
              <p>
                <span class="entry-name">Currency:
                </span>
                <span class="entry-details">&lt;{{d.countryInfos.currency}}&gt;
                </span>
              </p>
              <p>
                <span class="entry-name">Borders
                </span>
                <span class="entry-details">
                  &lt;{{ d.countryInfos.borders|join('|') }}&gt;
                </span>
              </p>
              <p>
                <span class="entry-name">Flag
                  <>
                </span>
                  <span class="entry-details">
                    <img src="{{d.countryInfos.flag}}" alt="country flag">
                  </span>
                  </span>
                  </p>
            </div>
          </div>
          <div class="tab-content  d-block" id="weather-info-{{idx_d}}">
            <div class="entries d-flex justify-content-around flex-wrap">
              {% for w in d.weatherInfos.forecasts %}
              <div class="entry">
                <div class="entry-body d-flex">
                  <div class="forecast-vals">
                    <div class="entry-title">{{w.date|date('D')}} ({{w.date|date('Y/m/d')}})
                    </div>
                    <!-- getting name of the day-->
                    <p>
                      <span class="entry-name">Temp
                      </span>
                      <span class="entry-details">| {{w.avgTemp}}°C
                        </p>
                    <p>
                      <span class="entry-name">Wind
                      </span>
                      <!-- Conversion to km/h, multiply by 36 (3600/1000)-->
                      <span class="entry-details">| {{(w.windSpd * 36)|number_format(0)}}km/h
                      </span>
                    </p>
                    <!---->
                    <p>
                      <span class="entry-name">Precips
                      </span>
                      <span class="entry-details">| {{w.precip|number_format(2)}}mm
                      </span>
                    </p>
                  </div>
                  <div class="forecast-icon">
                    <img src=" https://www.weatherbit.io/static/img/icons/{{w.icon}}.png " alt="forecast icon">
                    <div class="desc">{{w.description}}
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="tab-content d-none" id="place-info-{{idx_d}}">
            {% if  d.places.places is empty %}
            <div class="default">Too Clean space, add some places to visit
            </div>
            {% endif %}
            
            <ul id="places-{{idx_d}}">
              {% if d.places.places is not empty %}
              {% for k,p in d.places.places %}
              <li class="item" data-p-item="{{p.place}}">
                <span class="type"> {{p.type}}: 
                </span> &lt;
                <span class="value">{{p.place}} 
                </span>&gt;
               <div class="icon"> <img src="media/delete-small.svg" alt="delete place" id="delete-place-{{idx_d + k}}" data-delete-p-info="{{p._id}}"> </div>
              </li>
              {% endfor %}
              {% endif %}
            </ul>
          </div>
          <div class="tab-content d-none" id="pack-info-{{idx_d}}">
            {% if  d.tasks.tasks is empty %}
            <div class="default">Too Clean space!!, add some items to your todo list
            </div>
            {% endif %}
           
            
                <table class="table" id="packs-{{idx_d}}">
                    <thead><tr><th>Task item</th><th>Done</th><th>Delete</th></tr></thead><tbody>
                       {% if d.tasks.tasks is not empty %}
              {% for k,p in d.tasks.tasks %}
            
              
              
                    <tr  class="item" id="pack-{{idx_d + k}}"><td>
                <span>{{p.description}}
                </span> </td><td>
                <div class="form-check form-switch d-flex">
                  <input class="form-check-input" type="checkbox" id="task-{{idx_d+k}}" {{p.done ? 'checked' : ''}} >
                  <label class="form-check-label" for="task-{{idx_d+k}}"> {{p.done ? 'Yes' : 'No'}}
                  </label>
                </div>
                </td><td>
               <div class="icon"> <img src="media/delete-small.svg" alt="" id="delete-pack-{{idx_d + k}}" data-delete-p-info="{{p._id}}"> </div></td></tr>
             
            
              {% endfor %}
              {% endif %}
              </tbody>
               </table>
       
          </div>

          <div class="tab-content d-none"  id="pic-info-{{idx_d}}">

            <div class="dest-image">
              <img src="{{d.countryInfos.largeImageURL}}" alt="{{d.name}} picture">
            </div>


          </div>
          <div class="tab-content d-none"  id="map-info-{{idx_d}}">
             <div> <a href="#" class="put-on-map" data-map="map-{{idx_d}}">put places on map</a></div>
            <div id="map-{{idx_d}}">

            </div>
          </div>
        </div>
         
           <div class="result  d-none alert"></div>
     
      </div>
       {% endfor %}

          

    </div>
   
  </div>
  {% endfor %}
  
</section>
{% endblock %}
