{% extends "./layout.html.twig" %}
{% block head  %}
{{parent()}}
  
<title>Capstone trips display</title>

{% endblock %}}


{% block body %}
   {{parent()}}
<section class="trips">
    <div class="container">
       

         <h4 class="title">My Trips</h4> 
 
    {% if trips is empty %} <!--/empty/null/false-->

<div> Too Clean space, create some trips <a>HERE</a></div>
{% endif %}


  {% for trip in trips %}

   <div class="trip-card">
     <div class="d-flex d-column">
         <h4 class="trip-card-header">{{ trip.title|e }}</h4>
         <div class="trip-card-body">
             <p><span class="entry-name">Description</span><span class="entry-details">{{trip.description|e}}</span></p>
             <p><span class="entry-name">Start Date</span><time class="entry-details">{{trip.startDate|date('Y/m/d')}}</time></p>
             <p><span class="entry-name">End Date</span><time class="entry-details">{{trip.endDate|date('Y/m/d')}}</time></p>
             <p><span class="entry-name">Duration</span><time class="entry-details">{{trip.duration}} day(s)</time></p>
         </div>

     </div>   
    </div>
    <h5>Destinations</h5>
    {% if  trip.destinations is empty %} <!-- Check if object is empty/null/false -->
    <div>Destinations space too clean, create some <a>HERE</a></div>
    {% endif %}
 
    {% for d in trip.destinations %} <!-- looping over trip's destinations -->
      

    
           <div class="d-card">
         <div class="d-card-header">
           <p><span class="entry-name">Name</span><span class="entry-details">{{d.name}}</span></p>
         </div>
         <div class="d-card-body">
             <div>Country Info</div>
             <div class="d-flex flex-wrap">
                 <p><span class="entry-name">Name</span><span class="entry-details">{{d.countryInfos.name}}</p>
                 <p><span class="entry-name">Language</span><span class="entry-details">{{d.countryInfos.language}}</span></p>
                 <p><span class="entry-name">Region</span><span class="entry-details">{{d.countryInfos.region}}</span></p>
                 <p><span class="entry-name">Timezone</span><span class="entry-details">{{d.countryInfos.timezone}}</span></p>
                 <p><span class="entry-name">Capital</span><span class="entry-details">{{d.countryInfos.capital}}</span></p>
                 <p><span class="entry-name">Currency</span><span class="entry-details">{{d.countryInfos.currency}}</span></p>
                 <p><span class="entry-name">Borders</span><span class="entry-details">
                {% for b in d.countryInfos.borders %}
                      
                      {{b}}| 

                {% endfor %}     
                 
                
                </span>
                <p> <span class="entry-name">Flag</span> <span class="entry-details"><> <img src="{{d.countryInfos.flag}}" alt="country flag"></span></span></p>
            </p>
             </div>
            
         </div>

       </div>
 

    
    {% endfor %}

    {% endfor %}



   </div>
</section>

{% endblock %}